# jupyter/jupyterlab extensions
jupyter-server-proxy
jupyter-vscode-proxy
jupyterlab
jupyterlab-rise
ipywidgets
jupyter_contrib_nbextensions

# lab-related packages
redis
pandas
sqlalchemy
ipython-sql